<% @nomenu = true
   @content_class = 'login'
   @title = 'Login' %>

<%= form_tag auth_path, id: 'login-form' do %>
  <h1>Time Window</h1>
  <h2>Login</h2>
  <%= email_field_tag :email, params[:email], placeholder: 'Email', autofocus: !@rejected %>
  <%= password_field_tag :password, nil, placeholder: 'Password', autofocus: @rejected %>
  <%= submit_tag 'Log in' %>
  Don't have an account?
  <%= link_to 'Sign up', register_path %>
<% end %>
