<div id="live-view" class="<%= "live" if show.live? %>">
  <div id="live-not-started">
    <%= button_tag 'Start live show', id: 'start-live-show' %>
    Live show not started.
    Click on the button above to start it now.
  </div>
  <div id="live-started">
    <div class="controls">
      <%= link_to 'fast_rewind', '', class: 'material-icons fr' %>
      <%= link_to 'pause_circle_filled', '', class: 'material-icons pause' %>
      <%= link_to 'fast_forward', '', class: 'material-icons ff' %>
      <%= link_to 'stop', '', class: 'material-icons stop' %>
    </div>
  </div>
</div>
