<div id="live-view" class="">
  <div id="live-not-started">
    <%= button_tag 'Start live show', id: 'start-live-show' %>
    Live show not started.
    Click on the button above to start it now.
    <div class="sharelink">
      <span class="data" id="live-urlid"
            data-urlid="<%= show.urlid if show.urlid.present? %>">
      </span>
      Shareable link to view show:
      <%= link_to nil, live_client_url(urlid: show.urlid) if show.urlid.present? %>
      <%= link_to 'Regenerate link', regen_show_path(show), data:
        { confirm: 'WARNING: Regenerating the link disconnects all currently connected clients. Proceed?' }
      %>
    </div>
  </div>
  <div id="live-started">
    <div class="controls">
      <div id="live-indicator">00:00:00</div>
      <%= link_to 'skip_previous', '', class: 'material-icons fr' %>
      <%= link_to 'play_circle_filled', '', class: 'material-icons pp' %>
      <%= link_to 'skip_next', '', class: 'material-icons ff' %>
      <br/>
      <%= link_to 'replay', '', class: 'material-icons restart' %>
      <%= link_to 'timer_off', '', class: 'material-icons timer' %>
      <%= link_to 'stop', '', class: 'material-icons stop', data: {
        confirm_msg: "Are you sure you want to stop the show?"
      } %>
      <%# Sorry, not making this DRY (same as line 6), because it's so small and sorta different %>
      <div class="sharelink">
        Open this
        <%= link_to 'link', live_client_url(urlid: show.urlid) if show.urlid.present? %>
        on any device to view the show.
      </div>
    </div>
    <div id="live-list">
      <% show.parts.each do |part| %>
        <div class="live-part">
          <span class="part-name"><%= part[:name] %></span>
          <span class="part-time" data-seconds-original="<%= part[:time] %>"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
