<div id="live-view" class="<%= "live" if show.live? %>">
  <div id="live-not-started">
    <%= button_tag 'Start live show', id: 'start-live-show' %>
    Live show not started.
    Click on the button above to start it now.
  </div>
  <div id="live-started">
    <div class="controls">
      <div id="live-indicator">00:00:00</div>
      <%= link_to 'skip_previous', '', class: 'material-icons fr' %>
      <%= link_to 'play_circle_filled', '', class: 'material-icons pause' %>
      <%= link_to 'skip_next', '', class: 'material-icons ff' %>
      <%= link_to 'stop', '', class: 'material-icons stop' %>
    </div>
    <div id="live-list">
      <% show.parts.each do |part| %>
        <div class="live-part">
          <span class="part-name"><%= part[:name] %></span>
          <span class="part-time" data-seconds-original="<%= part[:time] %>"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
