<%# Part-tag with name = part[:name] and time = part[:time] -%>
<tr class="part">
  <td><%= link_to 'drag_handle', '', class: 'material-icons show-part-action' %></td>
  <td><%= link_to 'delete', '', class: 'material-icons show-part-action show-part-delete' %></td>
  <td class="name-column"><%= text_field_tag "show[names][]", part[:name], {id: nil, class: "show-part-name"} %></td>
  <td>
    <%= text_field_tag "", "00:00:00", {id: nil, class: "show-part-time", :'data-seconds' => 0} %>
    <%= hidden_field_tag "show[times][]", part[:time], {id: nil, class: "show-part-seconds"} %>
  </td>
</tr>
