
<div id="show-show">
  <%= form_for @show do |f| %>
    <div>
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>
    <div id="owners-list" class="owners">
      Owners:
      <% @show.owners.each do |user_id| %>
        <% email = User.find(user_id).email %>
        <a class="email" href><%= email %></a>
        <%= hidden_field_tag 'show[owners][]', email, id: nil %>
      <% end %>
    </div>
    <div>
      <%= email_field_tag nil, '', id: 'add-owner-name' %>
      <%= button_tag 'Add collaborator', id: 'add-owner-button' %>
    </div>
    Parts:
    <br/><table id="new-show-parts">
      <thead>
        <th></th><th></th>
        <th>Name</th>
        <th>Duration</th>
      </thead>
      <tbody id="new-show-parts-tbody">
        <% @show.parts.each do |part| %>
          <%= render "part_template", part: part %>
        <% end %>
      </tbody>
      <tr>
        <td></td><td></td>
        <td>Total time:</td>
        <td id="total-time">00:00:00</td>
      </tr>
    </table></br>
    <%= link_to 'Add new part', '', id: 'new-show-add-part' %>
    <div id="show-actions">
      <%= f.submit 'Save' %>
      -
      <%= link_to 'delete', @show, method: :delete,
        class: 'material-icons remove-show',
        data: { confirm: "Are you sure you want to remove this show entirely?" }
      %>
    </div>
  <% end %>

  <div class="data" id="new-show-part-template" data-names-field='
  <%= render "part_template", part: { name: "", time: "00:00:00" } %>
  '></div>

  <%= render 'live-view', show: @show %>
</div>
