<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{@title} - " if @title.present? %>
      Time Window
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= google_webfonts_init({
      google: ["Noto Sans", "Material Icons", "Arimo"]
    }) %>
  </head>
  
  <body>
    <% unless @nomenu %>
      <header id="header" data-turbolinks-permanent>
        <nav>
          <a id="menu" class="material-icons">menu</a>
          <%= link_to 'Start', index_path %>
          <%= link_to 'Shows', shows_path %>
        </nav>
      </header>
    <% end %>
    <div class="content <%= @content_class %>">
      <%= yield %>
    </div>
  </body>
</html>
